@import "tailwindcss";

@theme {
  --color-primary: #FF7F50;
  --color-secondary: #20B2AA;
  --color-background: #F5F5DC;
  --font-sans: 'Inter', 'sans-serif';
}

@layer base {
  body {
    @apply bg-background text-gray-800 font-sans;
  }
}